html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #ffffff;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.nav {
  z-index: 99;
  background-color: #FFF;
  position: fixed;
  width: 100%;
  height: auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.nav ul {
  display: flex;
}

li {
  display: inline;
  margin: 0 0.25rem;
}

.nav li {
  background-color: #000;
  color: #FFF;
  padding: 0.125rem 0.5rem;
  border-radius: 3px;
  font-size: 0.85rem;
  border: 2px solid #000;
}

.nav li:hover {
  color: #000;
  background-color: #FFF;
}

.nav img {
  flex: 1;
  margin: 1rem 0 0;
  position: relative;
}

/* HOME PAGE */
.section-1 {
  margin: 1rem 0;
}

.section-1 img {
  width: 50%;
  height: 30rem;
  margin-bottom: 1rem;
}

.section-2 {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.section-2 img {
  width: 33%;
  height: 20rem;
}

/* ADMIN */
.admin-product-page-container {
  padding: 2rem;
}

/* Add product input fields */
.product-form form {
  display: grid;
  grid-template-areas:
        "a b c"
        "d e f"
        "g h ."
        "i . .";
  align-items: center;
  justify-content: space-around;
}

input[type="text"], input[type="number"], .sign-in-page input {
  margin: 0 3px;
  padding: 0.25rem 0.5rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(86, 86, 86);
}

.product-form {
  padding: 2rem;
  margin: auto;
  background-color: #8C8C8C;
  width: auto;
  height: auto;
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 99;
  border-radius: 5px;
}

.product-form-submit, .product-add-button, .close-product-form, .sign-in-page button{
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  font-weight: 500;
  background-color: #000;
  color: #FFF;
}

.sign-in-page button {
  background-color: rgb(76, 76, 76);
  height: 2.25rem;
}

.sign-in-page button:hover {
  cursor: pointer;
  background-color: rgb(110, 110, 110);
}

.sign-in-page div {
  margin-bottom: 1rem;
}

.sign-in-page button, .sign-in-page input {
  width: 25vw;
}

.product-form-submit:hover, .product-add-button:hover, .close-product-form:hover {
  cursor: pointer;
}

.close-product-form {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Product list */
.product-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 0 1rem;
  padding: 0.5rem;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}

/***************************************/
/* SHOPPER PAGE */
#shopper-container {
  padding-top: 0.5rem;
}

/* NAV */

#shopper-container input[type="radio"] {
  visibility: hidden;
  
}

#shopper-container label {
  cursor: pointer;
}

#shopper-container input:checked+label {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
}

.shopper-container-nav {
  display: flex;
  justify-content: space-between;
}

.shopper-container-search {
  display: flex;
  align-items: center;
}

.shopping-bag {
  width: 1.25rem;
  height: inherit;
  margin: 0.5rem;
}

.search-bar {
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}

#search {
  border: 1px solid rgb(0 0 0 / 15%);
}

#search:focus {
  box-shadow: 0 0 5px rgb(0 0 0 / 15%);
}

/* PRODUCT CARD CONTAINER */
.product-container {
  margin: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}

/* PRODUCT CARDS*/
.product-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.product-card img {
  max-width: 15rem;
  border-radius: 5px;
}

@media (max-width: 600px) {
  body {
    padding-top: 0px;
  }

  .nav {
    justify-content: center;
  }

  .section-1, .section-2 {
    width: 100vw;
  }

  .section-1 img, .section-2 img {
    display: block;
    width: 100%;
  }

  .shopper-container-search {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .shooper-nav-items {
    display: none;
    position: absolute;
    background-color: #FFF;
    width: 100%;
    height: 100vh;
    z-index: 99;
  }

  .shooper-nav-items ul {
    text-align: start;
  }

  .shooper-nav-items li {
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    display: block;
  }
}