html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: #ffffff;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.nav {
  width: 100vw;
}

.nav {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.nav ul {
  display: flex;
}

li {
  display: inline;
  margin: 0 0.25rem;
}

.nav li {
  background-color: #000;
  color: #FFF;
  padding: 0.125rem 0.5rem;
  border-radius: 3px;
  font-size: 0.85rem;
  border: 2px solid #000;
}

.nav li:hover {
  color: #000;
  background-color: #FFF;
}

.nav img {
  margin: 1rem 0 0;
  position: relative;
}

/* ADMIN */
.admin-product-page-container {
  padding: 2rem;
}

/* Add product input fields */
form {
  display: grid;
  grid-template-areas:
        "a b c"
        "d e f"
        "g h ."
        "i . .";
  align-items: center;
  justify-content: space-around;
}

input[type="text"], input[type="number"] {
  margin: 0 3px;
  padding: 0.25rem 0.5rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgb(86, 86, 86);
}

.product-form {
  padding: 2rem;
  margin: 0 auto;
  background-color: #8C8C8C;
  width: auto;
  height: auto;
  position: absolute;
  z-index: 100;
  border-radius: 10px;
}

.product-form-submit, .product-add-button, .close-product-form {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  text-decoration: none;
  border: none;
  font-weight: 500;
  background-color: #000;
  color: #FFF;
}

.product-form-submit:hover, .product-add-button:hover, .close-product-form:hover {
  cursor: pointer;
}

.close-product-form {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* Product list */
.product-list {
  width: 60%;
  margin: 0 0 0.5rem;
  padding: 0.5rem;
  border: 1px solid #5e5e5e;
  border-radius: 3px;
  box-shadow: 1px 1px 3px 1px #5e5e5e;
}

/***************************************/
/* SHOPPER PAGE */

/* NAV */

#shopper-container input[type="radio"] {
  visibility: hidden;
  
}

#shopper-container label {
  cursor: pointer;
}

#shopper-container input:checked+label {
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  background-color: #000;
  color: #FFF;
}

.shopper-container-nav {
  display: flex;
  justify-content: space-between;
}

.shopper-container-search {
  display: flex;
  align-items: center;
}

.shopping-bag {
  width: 1.25rem;
  height: inherit;
  margin: 0.5rem;
}

.search-bar {
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
}

#search:focus {
  border: 1px solid #a6a6a6;
  box-shadow: 1px 1px 9px 1px #5e5e5e;
}

/* PRODUCT CARD CONTAINER */
.product-container {
  margin: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
}

/* PRODUCT CARDS*/
.product-card {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #5e5e5e;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px #5e5e5e;
}

.product-card img {
  max-width: 15rem;
}